@import "./changesArea.scss";

%basic-element {
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    position: relative;
    display: inline-block;
}

div.commit-box {
    width: 250px;
    margin-left: 22px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    position: relative;
    height: 25vh;

    & p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    & .commit-message {
        width: 80%;
        background-color: #333;
        border: none;
        border-radius: 5px;
        height: 25px;
        color: white;
        padding: 5px;
        font-size: 1em;
        font-weight: 100;
        font-family: "Roboto Condensed"
    }
    & .commit-button {
        width: 13%;
        background-color: #333;
        border: none;
        border-radius: 5px;
        height: 35px;
        color: white;
        padding: 5px;
        margin-left: 5px;
        position: relative;
        font-weight: 100;
        font-family: "Roboto Condensed";
        font-size: 1.3em;
        transition-duration: 400ms;

        &:hover {
            background-color: #ccc;
            color: #333;
            box-shadow: 0px 0px 2px 2px #333;
            cursor: pointer;
        }
    }

    & textarea {
        width: 95%;
        margin-top: 5px;
        min-height: 12vh;
        background-color: #333;
        border: none;
        border-radius: 5px;
        height: 25px;
        color: white;
        padding: 5px;
        font-size: 1em;
        font-weight: 100;
        font-family: "Roboto Condensed"
    }
}

div.actions-space {
    width: 63vw;
    min-height: 70%;
    margin-left: 20px;

    @extend %basic-element;
}
