div.changes-area {
    width: 250px;
    margin: 5px;
    margin-bottom: 10px;
    height: 57vh;
    background-color: #ccc;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;

    & p.changes-list-title {
        margin: 5px;
        font-weight: 100;
        text-align: center;
        height: 1em;
    }

    & ul.changes-list {
        font-weight: 100;
        width: 100%;
        position: relative;
        list-style: none;
        background-color: #333;
        border-radius: 5px;
        padding: 10px;
        right: 10px;
        height: 84%;
        bottom: 5px;
        overflow-y: auto;
        font-size: 0.95em;

        & b.filename {
            font-weight: 500;
        }

        & li.files-modified {
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: rgb(255, 240, 223);


            &:hover:after {
                content:"Modified";
                color: black;
                width: 50px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &:after {
                content: "";
                color: rgba(0,0,0,0);
                background-color: rgb(253, 182, 76);
                border-radius: 3px;
                margin: auto;
                padding: 2px;
                height: 1em;
                width: 1em;
                position: absolute;
                right: 11px;
                transition-duration: 400ms;
            }
        }

        & li.files-deleted {
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: rgb(255, 224, 224);

            &:hover:after {
                content:"Deleted";
                color: black;
                width: 50px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &:after {
                content: "";
                color: rgba(0,0,0,0);
                background-color: rgb(255, 66, 66);
                border-radius: 3px;
                margin: auto;
                padding: 2px;
                height: 1em;
                width: 1em;
                position: absolute;
                right: 11px;
                transition-duration: 400ms;
            }
        }

        & li.files-not_added {
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: rgb(224, 255, 231);

            &:hover:after {
                content:"New File";
                color: black;
                width: 50px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &:after {
                content: "";
                color: rgba(0,0,0,0);
                background-color: rgb(79, 255, 108);
                border-radius: 3px;
                margin: auto;
                padding: 2px;
                height: 1em;
                width: 1em;
                position: absolute;
                right: 11px;
                white-space: nowrap;
                transition-duration: 400ms;
            }
        }
    }
}