/*------------------*
|                   |
|  Main Style File  |
|                   |
*-------------------*/

@import "./fonts.scss";
@import "./open-iconic.scss";
@import "./misc/context-menu.scss";
@import "./application-menu.scss";

body {
    background-color: rgba(0,0,0,0.25);
    font-family: "Roboto Condensed";
    font-weight: 400;
}

div.main-block {
    top: -4px;
    position: relative;
    height: calc( 100vh - 42px );
    width: calc( 100vw - 303px - 240px );
    left: 287px;
    margin-right: 0px;

    & div.upper-block {
        height: 30%;
    }

    & div.lower-block {
        height: 55%;
    }
}

div.left-block {
    width: 250px;
    height: 100%;
    position: absolute;
    z-index: 0;
}

div.right-block {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 1px;
    top: 30px;
    z-index: 0;
}

br.separator {
    height: 30px;
}
