/*------------------*
|                   |
|  Main Style File  |
|                   |
*-------------------*/

@import "./fonts.scss";
@import "./open-iconic.scss";
@import "./misc/context-menu.scss";
@import "./application-menu.scss";

body {
    background-color: rgba(0,0,0,0.25);
    font-family: "Roboto Condensed";
    font-weight: 400;
}

div.container-after-titlebar {
    // ? This rule is here because there are some weird commas that appear at bottom and trigger the overflow
    overflow: hidden!important;
}

div.main-block {
    top: -4px;
    position: relative;
    // ? height is set by viewport - title bar - mysterious offset 
    height: calc( 100vh - 30px - 6px );
    // ?  width is set by viewport - changes sidebar - history sidebar
    width: calc( 100vw - 293px - 250px );
    // ? yes the previous offset is 5px wider than the width of the changes area
    left: 287px;
    margin-right: 0px;

    & div.upper-block {
        height: 30%;
    }

    & div.lower-block {
        height: 55%;
    }
}

div.left-block {
    width: 250px;
    height: 100%;
    position: absolute;
    z-index: 0;
}

div.right-block {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 1px;
    top: 0px;
    z-index: 0;
}

br.separator {
    height: 30px;
}

.fade-enter {
    transition:400ms ease-in;
    opacity: 1;
}

.fade-exit {
    transition:400ms ease-out;
    opacity: 0;
}

@media screen and (min-width: 770px) {
    div.main-block {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    div.main-block {
        display: none;
    }

    div.left-block {
        width: calc(50vw - 1px);

        & .changes-area {
            width: 100%;
        }

        & .commit-overlay {
            width: 100%;

            & .commit-box {
                width: 100%;

                & .react-tags {
                    width: 100%;
                }

                & textarea {
                    width: calc(100% - 10px);
                }

                & .commit-message-subwrapper {
                    width: calc(100% - 40px);

                    & .commit-message {
                        width: 83%;
                    }
                }
            }
        }
    }

    div.right-block {
        width: calc(50vw - 2px);
        left: calc(50vw + 2px + 38px);

        & ul.history-list {
            width: calc(100% - 62px);
        }
    }
}