/*
*
*   Main Style File
*
*/

@import "./fonts.scss";
@import "./open-iconic.scss";

body {
    background-color: #333;
    font-family: "Roboto Condensed";
}

div.main-block {
    height: 97vh;
    width: 72vw;
    margin-left: 300px;

    & div.upper-block {
        height: 30%;
    }

    & div.lower-block {
        height: 55%;
    }
}

div.left-block {
    width: 250px;
    position: absolute;
}

br.separator {
    height: 30px;
}
