/*
*
*   Top Block Main Style File
*
*/

div.actions-space {
    width: 63vw;
    min-height: 70%;
    margin-left: 20px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    position: relative;
    display: inline-block;
}