/*
*
*   Viewer Style File
*
*/

div.bottom-block {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    z-index: 9;
}

.spinner-graph {
    top: -4px;
    position: relative;
    height: calc( 100vh - 42px );
    width: calc( 100vw - 303px );
    margin-left: 287px;
    z-index: -2;
}

.node-details-container {
    transition-duration: 400ms;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}

.node-details-popup {
    opacity: 0;
    z-index: -9999;
    top: 50%;
    left: 20%;
    position: absolute;
    width: 350px;
    min-height: 100px;
    transition-duration: 400ms;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    padding: 20px;
    text-align: center;
}