/*
*
*   Viewer Style File
*
*/

div.lower-block {
    background-color: #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 63vw;
    height: 70vh;
    margin-left: 20px;
}
