/*
*
*   Commit Box Style File
*
*/

@import "../misc/spinkit.scss";

div.spinner-commit-box {
    display: none;
    width: 250px;
    height: 250px;
    position: absolute;
    margin: auto;
    bottom: -90px;
    left: 120px;

    & .sk-cube-grid {
        width: 50px;
        height: 50px;
    }

    & p {
        position: absolute;
        top: 250px;
        left: 50px;
    }
}

div.commit-overlay{
    // ? Height is unset and given by their children.
    width: 250px;
    margin-left: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0;
    z-index: -1;
}

div.commit-box {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: -20px;
    position: relative;
    z-index: 9;

    & p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    & .commit-message-subwrapper {
        width: 210px;
        display: inline-flex;
    }
    & .commit-message {
        width: 80%;
        background-color: rgba(0,0,0,0.25);
        border: none;
        border-radius: 5px;
        height: 25px;
        color: black;
        padding: 5px;
        margin-left: 5px;
        font-size: 1em;
        font-weight: 100;
        font-family: "Roboto Condensed";

        &:focus {
            width: 90%;
        }
    }

    & .commit-button {
        width: 35px;
        background-color: rgba(0,0,0,0.25);
        border: none;
        border-radius: 5px;
        height: 35px;
        color: black;
        margin-left: 5px;
        position: relative;
        top: 2px;
        font-weight: 100;
        font-family: "Roboto Condensed";
        font-size: 1.3em;
        transition-duration: 400ms;

        &:hover {
            background-color: #fff;
            color: black;
            font-weight: 700;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
            cursor: pointer;
        }
    }

    & .commit-description-descriptor {
        font-size: 0.9em;
        text-align: right;
        padding: 5px;
        padding-top: 7px;
        position: absolute;
        right: 20px;
        display: inline;
    }

    & .commit-description-descriptor-name {
        font-size: 0.9em;
        text-align: left;
        padding: 5px;
        padding-top: 7px;
        position: absolute;
        left: 20px;
        display: inline;
    }

    & .commit-description-list {
        font-weight: 400;
        width: 100%;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0);
        right: 10px;
        height: 200px;
        min-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 16px;
        padding: 0;
        margin-top: 30px;

        & li {

            text-align: right;
            padding: 5px;

            & p {
                display: inline-block;
                border-right: 2px solid rgba(0,0,0,0.25);
                padding-right: 10px;
            }

            & .commit-description-metadata-button {
                display: inline-block;
                cursor: pointer;
                transition-duration: 400ms;
                padding: 5px;

                &:nth-child(2) {
                    margin-left: 10px;
                }

                & svg {
                    position: relative;
                    top: 3px;
                    transition-duration: 400ms;
                    stroke: rgba(0,0,0,0.65);

                    &:hover {
                        transform: scale(1.1, 1.1);
                        stroke: black;
                    }
                }
            }
            
        }

        & li.files-modified {
            border: 1px solid #fff;
            background-color: rgb(255, 240, 223);
        }

        & li.files-deleted {
            border: 1px solid #fff;
            background-color: rgb(255, 224, 224);
        }

        & li.files-renamed {
            border: 1px solid #fff;
            background-color: rgb(224, 241, 255);
        }

        & li.files-not_added {
            border: 1px solid #fff;
            background-color: rgb(224, 255, 231);
        }

        & li.files-created {
            border: 1px solid #fff;
            background-color: rgb(224, 255, 231);
        }
    }

    & .commit-label {
        border: 5px solid rgba(255,255,255,0.25);
        height: 19px;
        cursor: pointer;
    }
}