/*
*
*   Commit Box Style File
*
*/

@import "../misc/spinkit.scss";

div.spinner-commit-box {
    display: none;
    width: 250px;
    height: 250px;
    position: absolute;
    margin: auto;
    bottom: 10vh;

    & .sk-cube-grid {
        width: 50px;
        height: 50px;
    }

    & p {
        position: absolute;
        top: 250px;
        left: 50px;
    }
}

div.commit-overlay{
    width: 250px;
    margin-left: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0;
    height: 250px;
    z-index: -1;
}

div.commit-box {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: -20px;
    position: relative;
    height: 250px;
    z-index: 9;

    & p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    & .commit-message {
        width: 80%;
        background-color: rgba(0,0,0,0.25);
        border: none;
        border-radius: 5px;
        height: 25px;
        color: black;
        padding: 5px;
        font-size: 1em;
        font-weight: 100;
        font-family: "Roboto Condensed"
    }
    & .commit-button {
        width: 13%;
        background-color: rgba(0,0,0,0.25);
        border: none;
        border-radius: 5px;
        height: 35px;
        color: black;
        margin-left: 5px;
        position: relative;
        font-weight: 100;
        font-family: "Roboto Condensed";
        font-size: 1.3em;
        transition-duration: 400ms;

        &:hover {
            background-color: #fff;
            color: black;
            font-weight: 700;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);
            cursor: pointer;
        }
    }

    & textarea {
        width: 95%;
        margin-top: 5px;
        background-color: rgba(0,0,0,0.25);
        border: none;
        border-radius: 5px;
        height: calc(40% - 20px);
        color: black;
        padding: 5px;
        font-size: 1em;
        font-weight: 100;
        font-family: "Roboto Condensed"
    }
}