%navigator {position: fixed;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 20px;
    color: black;
    transition-duration: 400ms;
    bottom: 40px;

    &:hover {
        background-color: rgba(0,0,0,0.75);
        color: white;
        transform: scale(1.05);
    }

}

%wizard-action-button {
    color: rgb(59, 20, 110);
    background-color: rgba(0,0,0,0.25);
    padding: 10px;
    width: 90%;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 400ms;
    text-decoration: none;

    &:hover {
        background-color: rgba(120, 81, 169, 0.75);
        padding: 25px;
        color: white;
    }
}

.first-time-wizard {

    width: calc(100vw - 2px);
    height: calc(100vh - 32px);
    background-color: white;
    position: absolute;
    left: 1px;
    top: 31px;
    border-radius: 3px;

    & .greeting-container {
        height: calc(100vh - 116px);
        width: 80%;
        position: relative;
        top: calc(25vh - 116px);
        left: 10%;
        overflow-y: auto;
    }

    & h2 {
        text-align: center;
        color: black;
    }

    & h3 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    & hr {
        width: 80%;
        background-color: rgba(0,0,0,0.25);
        height: 1px;
        border: none;
    }

    & .action-buttons-centering {
        text-align: center;
        margin: auto;
        margin-top: 10vh;
        width: 60%;

        & a {
            display: block;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & p.center {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    & .form-center {
        margin: auto;
        margin-top: 10vh;

        & input {
            margin: auto;
            display: block;
            padding: 10px;
            border-radius: 3px;
            border: none;
            background-color: rgba(0,0,0,0.15);
            margin-top: 20px;
            margin-bottom: 20px;
            transition-duration: 400ms;

            &:hover {
                padding: 15px;
            }

            &:focus {
                background-color: rgba(120, 81, 169, 0.5);
                padding: 15px;
            }
        }
    }

    & a.information-link {
        color: rgb(245, 58, 0);
        background-color: rgba(0,0,0,0.25);
        padding: 3px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 3px;
        cursor: pointer;
        transition-duration: 400ms;

        &:hover {
            background-color: rgba(245, 58, 0, 0.75);;
            padding: 5px;
            color: white;
        }
    }

    & a.wizard-action-button.normal {
        @extend %wizard-action-button;
    }

    & a.wizard-action-button.done {
        @extend %wizard-action-button;
        background-color: rgb(20, 199, 109);
        color: black;
        &.fanfare {
            transition-duration: 2000ms;
            border: 15px solid rgba(20, 199, 109,0);
        }
    }

    & a.wizard-action-button.danger {
        @extend %wizard-action-button;
        color: rgb(199, 20, 20);

        &:hover {
            background-color: rgba(255, 43, 43, 0.75);
        }
    }

    & a.navigator-right {
        @extend %navigator;
        right: 40px;
    }

    & a.navigator-left {
        @extend %navigator;
        left: 40px;
    }
}