/*
 * Derived From SpinKit
 * https://tobiasahlin.com/spinkit/ 
*/

.sk-cube-grid {
    width: 100px;
    height: 100px;
  
  & .sk-cube {
    width: calc(33% - 2px);
    height: calc(33% - 2px);
    background-color: rgba(0,0,0,0.25);
    border-radius: 3px;
    margin: 1px;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.9s infinite;
            animation: sk-cubeGridScaleDelay 1.9s infinite; 
  }
  & .sk-cube1 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  & .sk-cube2 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  & .sk-cube3 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  & .sk-cube4 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  & .sk-cube5 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  & .sk-cube6 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  & .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  & .sk-cube8 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  & .sk-cube9 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
}
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 50%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    } 25%, 75% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 50%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    } 25%, 75% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    } 
}